---
import Layout from "~/layouts/Layout.astro";
import { content } from "~/data/content";
import AboutImgSrc from "~/assets/images/about.jpg";
import { Image } from "astro:assets";
---

<Layout pageTitle="About">
  <section class="flex-1">
    <div class="mx-auto max-w-7xl px-6 py-16 lg:px-12">
      <div class="grid gap-16 lg:grid-cols-2 items-center">
        <!-- Text -->
        <div class="max-w-xl">
          <h1 class="mb-8 text-4xl font-extrabold lg:text-7xl">About Us</h1>

          <div class="space-y-6 text-lg leading-relaxed text-gray-200">
            TradeBuilt Web builds simple, effective websites for the folks who
            keep our towns running:
            <br />
            <br />
            <ul class="">
              <li>- Contractors</li>
              <li>- Handymen</li>
              <li>- Restaurant owners</li>
              <li>- Hair stylists</li>
              <li>- Mechanics</li>
            </ul>

            <br />
            We focus on clarity, speed, and tap‑to‑call design so your phone rings
            more.
          </div>
        </div>

        <!-- Image -->
        <div class="flex justify-center lg:justify-end">
          <Image
            src={AboutImgSrc}
            alt="About us"
            class="w-full max-w-md rounded-2xl object-cover shadow-xl"
          />
        </div>
      </div>
    </div>
  </section>
</Layout>
