---
import "~/styles/global.css";
import Layout from "~/layouts/Layout.astro";
import { content } from "~/data/content";
---

<Layout pageTitle="About">
  <section class="flex-1">
    <!-- Content container -->
    <div class="p-6 sm:p-8 text-theme_text_light w-full max-w-3xl mx-auto">
      <h1 class="mb-8 text-4xl lg:text-7xl">Our Services</h1>
      <ul class="text-lg flex flex-col gap-4">
        {
          content.pages[2].servicesContent?.map((service, index) => (
            <li class="border-b border-theme_text_light p-2 ">{service}</li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
