---
import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";

import "~/styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <title>{pageTitle}</title>
  </head>

  <body
    class="min-h-screen flex flex-col bg-theme_content_bg text-theme_text_light antialiased"
  >
    <Header />

    <main class="flex-1 flex flex-col">
      <slot />
    </main>

    <Footer />
  </body>
</html>
